/* test */
.main {
  &__title {
    color: red;
  }
}

.text {
  .custom & {
    background-color: aqua;
  }
}

/* styles */

.layout {
  display: flex;
  flex-flow: column nowrap;
}

.ant-menu {
  background-color: indigo;
  color: aqua;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: #fff;
  border-bottom: 2px solid yellow;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: aquamarine;
}
.ant-menu {
  background-color: indigo;
}
